body{
    font-family: 'Garamound', serif;
    font-size: 1rem;
}
.list{
    background-color:rgba(255, 160, 77, 0.569);
    padding:2rem;
}
ul{
    list-style: circle;
}
li{
    padding: 1rem;
}
h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    text-align: center;
    color:rgb(22, 24, 77);
}
a{
    text-decoration: none;
    padding: 1rem;
    color:rgb(5, 53, 34);
}
a:hover{
    background-color: rgba(255, 89, 77, 0.569);
}
a:visited{
text-decoration: none;

}
/*Style For Pages*/

h2{
    font-size: 1.5rem;
}
.main-img{
    padding: 1rem;
}
img{
    height: auto;
    width: 50%;
    align-self: center;
    padding: 0 25% 0 25%;
}